openapi: 3.1.0
info:
  title: Reflect Execution Executions API
  version: 1.0.0
  description: '

    Effortlessly create, execute, and troubleshoot automated end-to-end tests

    using Reflect''s advanced AI capabilities.'
servers:
- url: https://api.reflect.run/v1
security:
- ApiKeyAuth: []
tags:
- name: Executions
paths:
  /tests/{test-id}/executions:
    post:
      summary: Run a Test
      parameters:
      - name: test-id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                overrides:
                  type: object
                  properties:
                    hostnames:
                      type: array
                    parameters:
                      type: array
                    cookies:
                      type: array
                    headers:
                      type: array
                    localStorage:
                      type: array
                    sessionStorage:
                      type: array
                variables:
                  type: object
                emailFailures:
                  type: boolean
      responses:
        '200':
          description: Execution scheduled
          content:
            application/json:
              schema:
                type: object
                properties:
                  executionId:
                    type: integer
      tags:
      - Executions
  /executions/{execution-id}:
    get:
      summary: Get Execution Status
      parameters:
      - name: execution-id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Execution status
          content:
            application/json:
              schema:
                type: object
                properties:
                  executionId:
                    type: integer
                  tests:
                    type: array
                    items:
                      type: object
                      properties:
                        testId:
                          type: integer
                        status:
                          type: string
                        started:
                          type: integer
                        completed:
                          type: integer
      tags:
      - Executions
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
